doctype html

html
	head
		Title Show me ya moves!
		link(rel='stylesheet', href='/css/Site.css')
		script(src='/bower_components/jquery/dist/jquery.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/js/app.js')
	body
		h1 Aww yiss!
		body
			ul(id='messages')
			form(action='')
				input(id='messageInput')
				button Send